---
// Dependencies
import { Image } from "astro:assets";

// Components & Layouts
import Section from "../layouts/Section.astro";
---

<Section
  id="gallery"
  class="flex flex-col justify-between items-center text-primary gap-8"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      [...Array(8)].map((_, i) => (
        <Image
          src={`https://images.unsplash.com/photo-1741851374674-e4b7e573a9e7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D`}
          alt={`Imagen de la boda ${i + 1}`}
          class="w-full h-full object-cover min-h-[300px] md:min-h-[400px] max-w-[500px] max-h-[500px] rounded-lg"
          width={600}
          height={600}
          loading="lazy"
        />
      ))
    }
  </div>
</Section>
