---
// Dependencies
import { Image } from "astro:assets";

// Components & Layouts
import Section from "../layouts/Section.astro";
---

<Section
  id="itinerary"
  class="flex flex-col justify-between items-center text-white gap-8 bg-primary"
>
  <h2 class="text-6xl md:text-8xl font-bold text-center">Itinerary</h2>
</Section>
